.multicolortext {
    margin-left: auto;
    margin-right:auto; 
    background-image: linear-gradient(to left, rgb(255, 61, 255), rgb(137, 66, 187), rgb(168, 207, 168), blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .card {
    width: 350px;
    height: 400px;
    display: block;
    margin-left:auto;
    margin-right:auto;  
    margin-top: 100px;
  }
  mat-toolbar{
    background-color: #171717;
  }

  .signin{
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: blue;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
  }
  .signUp {
    margin-left: 100px;
    margin-top: 50px;
    width: 150px
  }
  .signBtn {
   background-color: blue;
   color: white;
   margin-left: 130px;
   margin-top: 70px;
   width: 100px;
  }